   * {
       box-sizing: border-box;
   }
   
   body {
       background-color: #000;
       display: flex;
       height: 100vh;
       width: 100vw;
       font-family: 'Permanent Marker', cursive;
   }
   
   #countdown {
       height: 600px;
       width: 600px;
       align-self: center;
       margin: 0 auto;
       display: flex;
   }
   
   .number {
       align-self: center;
       margin: 0 auto;
       font-size: 10em;
       color: #fff;
   }
   
   .number::before {
       display: inline;
       content: "";
       animation: wink 10s linear 1 forwards;
   }
   
   @keyframes wink {
       0% {
           content: "10";
       }
       10% {
           content: "9";
       }
       20% {
           content: "8";
       }
       30% {
           content: "7";
       }
       40% {
           content: "6";
       }
       50% {
           content: "5";
       }
       60% {
           content: "4";
       }
       70% {
           content: "3";
       }
       80% {
           content: "2";
       }
       90% {
           content: url(./undefined\ -\ Imgur.gif);
       }
       100% {
           content: "I love CSS";
       }
   }